/* 条款弹框 */
.popup-box {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20232023;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.popup-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 80vh;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  box-sizing: border-box;
}

.popup-top {
  height: 54px;
  line-height: 54px;
  text-align: right;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.popup-top i {
  font-size: 30px;
  font-weight: 100;
  color: #909399;
  margin-right: 20px;
  cursor: pointer;
  font-style: normal;
}

.popup-top i:hover {
  color: #409eff;
}

.show-terms {
  display: none;
  height: calc(80vh - 54px);
  overflow: auto;
  scrollbar-width: thin; /* 火狐,隐藏滚动条但仍能滚动 */
}

.show-terms::-webkit-scrollbar {
  /* chrome,隐藏滚动条但仍能滚动 */
  width: 8px;
  height: 1px;
}

.show-terms::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #aaa;
}

.show-terms::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #e5e5e5;
}

/* 条款文字内容 */
.agreement {
  width: 100%;
  padding: 0 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.agreement h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
}

.agreement .agreement-title {
  font-size: 18px;
}

.agreement p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 18px;
  margin-top: 18px;
}
