* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

/* 主体 */
body {
    background-color: rgb(235, 236, 240);
    cursor: url(../fonts/Arrow.cur), default;
    margin: 0;
}

/* 链接鼠标样式 */
a:hover {
    cursor: url(../fonts/Hand.cur), pointer;
}

button:hover {
    cursor: url(../fonts/Hand.cur), pointer;
}

/* 引入字体文件 */
@font-face {
    font-family: alimama;
    src: url(https://fs-im-kefu.7moor-fs1.com/ly/4d2c3f00-7d4c-11e5-af15-41bf63ae4ea0/1711173478728/alimama.ttf);
}

@font-face {
    font-family: zitixj;
    src: url(https://fs-im-kefu.7moor-fs1.com/ly/4d2c3f00-7d4c-11e5-af15-41bf63ae4ea0/1711173781476/zitixj.ttf);
}

@font-face {
    font-family: hanjianti;
    src: url(https://fs-im-kefu.7moor-fs1.com/ly/4d2c3f00-7d4c-11e5-af15-41bf63ae4ea0/1711173545685/hanjianti.ttf);
}

@font-face {
    font-family: mjfont1;
    src: url(https://fs-im-kefu.7moor-fs1.com/ly/4d2c3f00-7d4c-11e5-af15-41bf63ae4ea0/1711173820819/mjfont1.woff2);
}

@font-face {
    font-family: miao;
    src: url(https://fs-im-kefu.7moor-fs1.com/ly/4d2c3f00-7d4c-11e5-af15-41bf63ae4ea0/1711173654312/miao.ttf);
}

/* 拟态框 */
.box form {
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
    border-radius: 10px;
    padding: 10px 0;
}

.box_head form {
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
    border-radius: 10px;
    height: 450px;
}

/* 启动页 */
body:after {
    content: " ";
    position: fixed;
    inset: 0;
    background-color: white;
    z-index: 999;
    background-image: url(../images/2logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
    -webkit-transition: fadeOut 2s;
    transition: fadeOut 2s;
    pointer-events: none;
}

/* 启动动画 */
@keyframes fadeOut {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* 头像盒子 */
.image {
    width: 120px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img:nth-child(1) {
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: 3;
}

.image img:nth-child(2) {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

/* 名称 */
.box_image_p {
    font-size: 35px;
    font-family: alimama;
    text-align: center;
    position: relative;
    top: -30px;
}


/* 打字机 */
.p2a {
    font-size: 18px;
    text-align: center;
    color: rgb(130, 110, 110);
    position: relative;
    top: -50px;
    font-family: hanjianti;
}

/* 获取时间 */
#time1 {
    text-align: center;
    font-size: 25px;
    font-family: alimama;
    padding: 10px;
}

/* 联系按钮 */
:root {
    --color-icon-bg: #ebecf0;
    --color-label: slategrey;
    --color-light: rgba(121, 130, 160, 0.55);
    --color-shadow: rgb(255, 255, 255);
    --duration-ani: 50ms;
}

.icon-div .icon-img {
    width: 80px;
    height: 80px;
    border-radius: 0px;
    background-color: var(--color-icon-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.icon-div .icon-img img {
    width: 60px;
    transform: scale(1);
    transition: transform var(--duration-ani) ease-out;
}

.icon-div p {
    color: var(--color-label);
}

.icon-div:hover {
    cursor: pointer;
}

.icon-div .icon-img:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0),
        0 0 0 rgba(0, 0, 0, 0),
        inset 5px 5px 10px var(--color-light),
        inset -5px -5px 10px var(--color-shadow);
}

.icon-div .icon-img:active img {
    transform: scale(0.98);
}

/* 页脚 */
.footer {
    font-family: mjfont1;
    text-align: center;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 0;
}

.icon-div {
    width: 5px;
    height: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    user-select: none;
    display: inline-flex;
    margin: 10px;
    padding: 40px;
    position: relative;
    top: -100px;
}


/* 对于小屏设备 */
@media (max-width: 600px) {
    .icon-div {
        width: 30%;
        padding: 10px 57px;
        margin: 5px auto;
        top: 0;
    }

    .img_box_meiri {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .box_img {
        width: 80%;
    }

    .input_input {
        width: 70%;
    }
}

/* 对于中等屏幕设备 */
@media (min-width: 601px) and (max-width: 1024px) {
    .icon-div {
        width: 32%;
        padding: 50px 0;
        margin: 10px auto;
        top: -50px;
    }

    .box_img {
        width: 80%;
    }

    .img_box_meiri {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

}

/* 对于大屏设备 */
@media (min-width: 1025px) {
    .icon-div {
        width: 33%;
        padding: 40px 0;
        margin: 10px auto;
        top: -60px;
    }

    .img_box_meiri {
        width: 60%;
        height: 60%;
        border-radius: 20px;
        clear: both;
        display: block;
        margin: auto;
    }

    .box_img {
        width: 60%;
    }

    .input_input {
        width: 30%;
    }
}

/* 自适应大屏设备 结束 */
#cardContainer {
    font-size: 20px;
    font-family: hanjianti;
    text-align: center;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #F8F8FF;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 9999;
}

.button {
    display: block;
    margin: auto;
    color: #6d85c1;
    padding: 0.4em 2em;
    font-size: 18px;
    border-radius: 0.5em;
    border: 1px solid #e8e8e8;
    background-color: #ebecf0;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
    transition: all .7s;
    font-family: miao;
}

.button:active {
    box-shadow: inset 0.2rem 0.2rem 0.6rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    left: 10px;
    top: 10px;
    background: none;
    border: none;
    z-index: 9999;
    color: gray;
}

.openbtn:hover {
    color: gray;
}

.open {
    left: 0;
}

.marqueep {
    font-family: hanjianti;
}

.gundong {
    font-size: 20px;
    font-family: alimama;
}

.div_box {
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
    border-radius: 10px;
    padding: 5px;
    margin-top: 15px;
}

.parallax>use {
    animation: move-forever 12s linear infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
}

.parallax>use:nth-child(2) {
    animation-delay: -2s;
    animation-duration: 5s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 3s;
}

@keyframes move-forever {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

.wiiuii_layout {
    width: 100%;
    height: 40px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: var(--footer-bg);
}

.editorial {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0;
}

.canyu {
    text-align: center;
    font-family: hanjianti;
    font-size: 20px;
}

.person {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.person img {
    border: 2px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.person .info {
    display: flex;
    flex-direction: column;
}

.person .button {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.mx_clock_div {
    width: 48%;
}

.mx_information_div {
    width: 48%;
    margin: 0 3.5%;
    font-size: 13.5px;
    text-align: center;
    font-family: zitixj;
    padding: 5px 0;
    color: #6d5dfc;
}

.mx_font_div_size {
    font-size: 15px;
}

.box_img {
    background-color: #ebecf0;
    box-shadow: inset 0.2rem 0.2rem 0.6rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
    border-radius: 10px;
    display: block;
    border: none;
    margin: 30px auto;
    padding: 15px 20px;
    color: #6d85c1;
    outline-color: transparent;
}

.btn-bd-primary {
    --bd-violet-bg: #707070;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #707070;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #ffffff;
    --bs-btn-active-border-color: #000000;
}

.bd-mode-toggle {
    z-index: 1500;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-danger {
    background-color: #d9534f;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.mx_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.mx_information {
    height: 150px;
}

.mx_clock {
    height: 150px;
}

.adiv {
    background: #ebecef;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
    z-index: 50;
    border-radius: 10px;
    box-shadow: 25px 25px 50px #d4d4d7, -25px -25px 50px #ffffff;
    width: 58px;
    height: 58px;
}

:root {
    --color-background: #ebecf0;
    --color-icon-bg: #ebecf0;
    --color-label: slategrey;
    --color-light: rgba(121, 130, 160, .55);
    --color-shadow: rgb(255, 255, 255);
    --duration-ani: 50ms;
}

.adiv.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adiv:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0),
        0 0 0 rgba(0, 0, 0, 0),
        inset 5px 5px 10px var(--color-light),
        inset -5px -5px 10px var(--color-shadow);
    font-weight: 700;
}

/* 侧边导航栏动画切换 */
.containera {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    height: auto;
}

.menu-btn input {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 9;
    opacity: 0;
}

.menu-btn.one span {
    width: 25px;
    height: 3px;
    background-color: #4e4e4e;
    position: relative;
    margin: 4px 0;
    border-radius: 2px;
    transition: all 0.2s linear;
}

.menu-btn.one input:checked~span:nth-of-type(1) {
    opacity: 1;
    transform: rotate(-45deg) translate(-6px, 5px);
}

.menu-btn.one input:checked~span:nth-of-type(2) {
    opacity: 0;
}

.menu-btn.one input:checked~span:nth-of-type(3) {
    opacity: 1;
    transform: rotate(45deg) translate(-5px, -5px);
    margin-top: -3px;
    width: 25px;
}

.padbox {
    margin-top: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 998;
    transition: opacity 0.5s ease;

}

.overlay.show {
    display: block;
}

.box_marqueep form {
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
    border-radius: 10px;
    padding: 10px 0;
    width: 90%;
    margin: auto;
    background-color: ffffff;
}

.box_img_you {
    padding: 20px;
}

.input_input {
    background-color: #ebecf0;
    box-shadow: inset 0.2rem 0.2rem 0.6rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
    border: none;
    padding: 15px 20px;
    color: #6d85c1;
    outline-color: transparent;
}

.button_tijiao {
    display: block;
    margin: auto;
    color: #6d85c1;
    padding: 0.4em 2em;
    font-size: 18px;
    border-radius: 0.5em;
    border: 1px solid #e8e8e8;
    background-color: #ebecf0;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
    transition: all .7s;
    font-family: miao;
    margin-top: -20px;
}

.box_size {
    text-align: center;
    font-size: 20px;
    font-family: alimama;
}

.liuyan {
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
    border-radius: 10px;
    padding: 10px 0;
}

/* 繁体按钮切换 */
.fan_div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: var(--color-icon-bg);
    box-shadow: 5px 5px 10px var(--color-light),
        -5px -5px 10px var(--color-shadow);
    user-select: none;
    transition: box-shadow var(--duration-ani) ease-out;
    margin: 0 auto;
}

.span_wenzi {
    text-decoration: none;
}

.span_div {
    font-size: 20px;
}