/*会员中心*/
.MTopHeight{}
.PaddingLR20{
	padding: 0 20px;
}
.openTop{
	display: none;
    width: 70px;
    height: 30px;
    font-size: 13px;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
    background: #1782F1;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.Subtitle{
	margin-right: 10px;
}
.Subtitle li{
	float: left;
	margin-right: 34px;
}
.Subtitle li a{
	font-size: 16px;
	color: #333333;
	line-height: 61px;
	display: block;
}
.MDownBg{
	background: #F6F8FA;
	padding-top: 7px;
}
.MemberLeft{
    width: 193px;
    margin-right: 10px;
    float: left;
    overflow-y: auto;
    background: #fff;
}
.openLeft{
	display: none;
	margin-right: 12px;
	width: 24px;
	height: 24px;
	border: none;
	background: none;
}
.MemberRight{
    overflow-y: auto;
    position: relative;
    background: #fff;
    margin-right: 2px;
}
.MTopUser{
	height: 61px;
	position: relative;
}
.MTopUserImg{
	width: 38px;
	height: 38px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.MTopUserTitle{
	margin: 0 6px;
}
.MTopUser .MTopDown{
    display: none;
    position: absolute;
    top: 61px;
	right: 0px;
    width: 140px;
    background: #ffffff;
    border: 1px solid #EEEEEE;
    -moz-box-shadow: 5px 5px 5px 0 rgba(196,196,196,.35);
    -webkit-box-shadow: 5px 5px 5px 0 rgba(196,196,196,.35);
    box-shadow: 5px 5px 5px 0 rgba(196,196,196,.35);
    z-index: 99;
}
.MTopUser .MTopDown li{
	width: 100%;
	text-align: center;
}
.MTopDownli{
	display:none;
}
.MTopUser .MTopDown li a{
	width: 100%;
	display: block;
	padding: 8px 0;
}
.MTopUser .MTopDown li a:hover{
	background: #1782F1;
	color: #ffffff;
}
.MTopUser:hover .MTopDown{
	display: block;
}
.MTopArrow{
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: #686868;
	width: 10px;
	height: 10px;
	margin-left: 8px;
	display: inline-block;
	transition: all .3s;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	-moz-transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	-o-transform:rotate(135deg);
}
.MTopUser:hover .MTopArrow{
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
}
.MemberLeftMain{
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 0;
}
.MemberLeftMain li{ 
	border-bottom: 1px solid rgba(196,196,196,.35);
}
.MemberLeftMain li a{ 
	display: block;
    padding: 0 20px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: #333333;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    position: relative;
}
.MemberLeftMain li.is-active a{
    background: #1782F1;
    color: #FFFFFF;
}
.padding16{
	padding: 16px;
}
/*当前位置*/
.seat{
	width: 100%;
	display: inline-block;
	margin: 0 0 16px;
	font-size: 14px;
	color: #333333;
}
.seat a{
	font-size: 14px;
	color: #333333;
}
/*弹出*/
.PopVip{
	width: 653px;
	background: #ffffff;
	max-height: 100%;
    position: relative;
    background: #ffffff;
    margin: auto;
    padding: 27px;
    box-sizing: border-box;
    overflow: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/*适配*/
@media only screen and (max-width: 920px){
	.Subtitle li{
		margin-right: 20px;
	}
	.MTopDownli{
		display:block;
	}
}
@media only screen and (max-width: 768px){
	.SubtitleMain{
		height: 61px;
		position: relative;
		margin-right: 12px;
	}
	.openTop{
		display: block;
	}
	.Subtitle{
		display: none;
		position: absolute;
		top: 61px;
		right: 0;
		width: 140px;
		margin-right: 0;
	    background: #ffffff;
	    border: 1px solid #EEEEEE;
	    -moz-box-shadow: 5px 5px 5px 0 rgba(196,196,196,.35);
	    -webkit-box-shadow: 5px 5px 5px 0 rgba(196,196,196,.35);
	    box-shadow: 5px 5px 5px 0 rgba(196,196,196,.35);
	    z-index: 99;
	}
	.Subtitle li{
		margin-right: 0;
		width: 100%;
		text-align: center;
	}
	.Subtitle li a{
		font-size: 14px;
	    width: 100%;
	    display: block;
	    padding: 8px 0;
	    line-height: 20px;
	}
	.Subtitle li a:hover{
		background: #1782F1;
		color: #ffffff;
	}
	.SubtitleMain:hover .Subtitle{
		display: block;
	}
	.openLeft{
		display: block;
	}
	.MemberLeft{
		position: fixed;
		left: -193px;
		z-index: 9;
		margin-right: 0;
		border-right: 1px solid rgba(196,196,196,.35);
	    background: #fff;
	    transition: .5s;
	    -moz-transition: .5s;
	    -webkit-transition: .5s;
	    -o-transition: .5s;
	}
	.MemberRight{
		margin-right: 0;
	}
	.MDownBg{
		padding-left: 10px;
		padding-right: 10px;
	}
	.PopVip{
		width: 90%;
	}
}
/*右侧---会员中心*/
.molecule{
	margin-bottom: 10px;
    border: 1px solid #f3f3f3;
	-moz-box-shadow: 0 5px 5px 0 rgba(236, 236, 236, 0.35);
    -webkit-box-shadow: 0 5px 5px 0 rgba(236, 236, 236, 0.35);
    box-shadow: 0 5px 5px 0 rgba(236, 236, 236, 0.35);
}
.moleculeImg{
	width: 80px;
	height: 80px;
	float: left;
	margin: 20px 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.moleculeMain{
	padding-left: 140px;
}
.moleculeLi{
	margin: 20px 0;
	color: #333333;
	line-height: 24px;
}
.moleculeLi span:first-child{
	font-size: 16px;
	color: #333333;
	min-width: 400px;
	display: inline-block;
}
.moleculeLi a{
	font-size: 14px;
	color: #046AD5;
	margin-right: 20px;
	display: inline-block;
}
.moleculeMain span{
	display: inline-block;
}
.ContHomeBg{
	width: 100%;
	display: inline-block;
}
.ContHomeBg li{
	width: 50%;
	float: left;
}
.ContHomeBg li:nth-child(odd){
	padding-right: 10px;
}
.ContHomeBg li:nth-child(even){
	padding-left: 10px;
}
.ContHomeMain{
	width: 100%;
	min-height: 142px;
	display: inline-block;
	padding: 20px 30px;
}
.ContHomeImg{
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.ContHomeWord{
    color: #333333;
}
.ContHomeWord span{
	margin-right: 12px;
}
.MT12{
	margin-top: 12px;
}
.ContUpBtn{
    background: #ea4335;
    font-size: 14px;
    color: #ffffff;
    border:1px solid #ea4335;
    padding: 0 6px;
    cursor: pointer;
    outline: none;
    margin-right: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.ContPrBtn{
    background: #ffffff;
    font-size: 14px;
    color: #ea8e3c;
    border:1px solid #ea8e3c;
    padding: 0 6px;
    cursor: pointer;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.ContBtn{
	width: 94px;
    height: 30px;
    background: #ffffff;
    font-size: 14px;
    color: #3477ff;
    border:1px solid #3477ff;
    padding: 0;
    margin-right: 4px;
    margin-bottom: 6px;
    cursor: pointer;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;	
}
.ContBtn:last-child{
    margin-right: 0;
}
.ContNews{
	width: 100%;
}
.ContNews li{
	width: 100%;
	margin: 3px 0;
}
.ContNews li:nth-child(odd){
	padding-right: 0;
}
.ContNews li:nth-child(even){
	padding-left: 0;
}
.ContNewsWord{
	font-size: 14px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ContNewsTime{
	font-size: 14px;
    color: #808080;
    min-width: 50px;
    text-align: right;
}
/*适配*/
@media only screen and (max-width: 1200px){
	.ContHomeBg li{
		width: 100%;
	}
	.ContHomeBg li:nth-child(odd){
		padding-right: 0;
	}
	.ContHomeBg li:nth-child(even){
		padding-left: 0;
	}
}
@media only screen and (max-width: 920px){
	.moleculeImg{
		margin: 10px;
	}
	.moleculeMain{
		padding-left: 100px;
	}
	.moleculeLi span:first-child{
		min-width: 180px;
	}
}
@media only screen and (max-width: 768px){
	.molecule{
		padding: 12px;
	}
	.moleculeImg{
		float: none;
	}
	.moleculeMain{
		padding-left: 0;
	}
	.ContHomeWord{
		width: 100%;
		display: inline-block;
		margin-top: 12px;
	}
}

/*右侧---订单管理*/
.searchMain{}
.searchInput{
    width: 286px;
    height: 30px;
    padding: 0 6px;
    background-color: #FFFFFF;
    color: #333333;
    margin-right: 14px;
    box-sizing: border-box;
    border: 1px solid #D7D7D7;
	font-size: 13px;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
}
.searchBtn{
	width: 88px;
    height: 30px;
	font-size: 13px;
    border: none;
    margin-right: 14px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
    background: #1782F1;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.RedDeleteBtn{
    background: #E95B7D;	
}
.MB12{
	margin-bottom: 12px;
}
.GsearchMain{
	position: relative;
    width: 286px;
    float: left;
    margin-right: 14px;
}
.GsearchInput{
    width: 100%;
    height: 30px;
    padding: 0 36px 0 6px;
    background-color: #FFFFFF;
    color: #333333;
    box-sizing: border-box;
    border: 1px solid #D7D7D7;
	font-size: 13px;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
}
.GsearchBtn{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
    height: 30px;
    padding: 4px;
    border: none;
    background: none;
    cursor: pointer;
}
.GsearchBtn img{
	max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}
table.OrderTable{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 14px;
    color: #333333;
    margin-top: 20px;
    text-align: center;
}
table.OrderTable tr th{
	padding: 13px 0;
    background: #F2F2F2;
    word-wrap:break-word;
    border: 1px solid rgba(196,196,196,.35);
}
table.OrderTable tr th:first-child{
	width: 60px;
}
table.OrderTable tr td{
	padding: 13px 0;
    background: #ffffff;
    word-wrap:break-word;
    border: 1px solid rgba(196,196,196,.35);
}
.RedBtn,.RedBtn:hover{
	color: #CB0000;
	border: none;
	background: none;
	cursor: pointer;
	margin: 0 4px;
	display: inline-block;
}
.BlueBtn,.BlueBtn:hover{
	color: #046AD5;
	border: none;
	background: none;
	cursor: pointer;
	margin: 0 4px;
	display: inline-block;
}
/*弹出*/
.PopOrder{
	padding: 50px 24px;
	width: 653px;
	max-width: 100%;
}
.PopOrderMain{
	width: 100%;
	height: 300px;
	padding: 24px 12px;
	border: 1px solid #EEEEEE;
	color: #333333;
}
.SureBtn{
	width: 140px;
	height: 40px;
    margin: 30px auto 0;
}
/*适配*/
@media only screen and (max-width: 768px){
	table.OrderTable tr th:first-child{
		width: auto;
	}
	.PopOrder{
		width: 90%;
	}
}
@media only screen and (max-width: 420px){
	.GsearchMain{
		width: 100%;
		margin-right: 0;
	}
}

/*右侧---发票管理*/
.billBtn,.billBtn:hover{
	color: #333333;
	border: none;
	background: none;
	cursor: pointer;
	margin: 0 4px;
	display: inline-block;	
}
.Requesttitle{
	font-size: 24px;
	font-weight: bold;
	color: #333333;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.RequestMain{
	width: 440px;
	margin: auto;
}
.RequestForm{
    width: 100%;
    line-height: 35px;
    display: inline-block;
    margin-bottom: 22px;
}
.Request-label{
	width: 76px;
    color: #333333;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    line-height: 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
}
.Request-content{
    line-height: 35px;
    position: relative;
    font-size: 14px;
    margin-left: 96px;
}
.RequestInput{
    border: 1px solid #eeeeee;
    padding: 8px;
    width: 100%;
}
/*适配*/
@media only screen and (max-width: 768px){
	.PopOrder{
		width: 90%;
	}
	.RequestMain{
		width: 100%;
	}
}
/*右侧---礼品兑换*/
.GiftTop{
	width: 100%;
	display: inline-block;
	margin-bottom: 4px;
}
.GiftTop a{
	display: inline-block;
	margin-bottom: 12px;
	margin-right: 8px;
}
.Gift{
	display: table;
}
.Gift li{
	width: 200px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-left: 18px;
	margin-top: 8px;
	margin-bottom: 26px;
}
.GiftImg{
	width: 200px;
	height: 200px;
	background: #fff;
	border: 1px solid #eeeeee;
}
.GiftImg img{
	max-width: 100%;
	max-height: 100%;
}
.GiftWord{
	width: 100%;
	font-size: 14px;
	color: #333333;
	margin: 20px 0;
}
.GiftBtn{
	width: 140px;
	height: 40px;
    background: #1782F1;
    font-size: 13px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/*适配*/
@media only screen and (max-width: 768px){
	.Gift li{
		width: 50%;
		padding: 0 12px;
		margin-left: 0;
		margin-top: 8px;
		margin-bottom: 26px;
	}
	.GiftImg{
		max-width: 100%;
		margin: auto;
	}
}
@media only screen and (max-width: 420px) {
	.Gift li{
		padding: 0 4px;
	}
	.GiftImg{
		height: 100px;
	}
	.GiftBtn{
		width: 110px;
		height: 32px;
	}
}

/*右侧---控制中心*/
.UserVipBtn{
    background: #059FFF;
    color: #ffffff;
    border: 1px solid #059FFF;
    cursor: pointer;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.UserDataBtn{
	width: 120px;
    height: 35px;
    font-size: 13px;
}
.govern{
	width: 100%;
	display: inline-block;
}
.govern li{
	width: 16%;
	float: left;
	margin: 30px 0;
}
.governImg1{
	width: 26px;
	height: 26px;
}
.governImg1 img{
	max-width: 26px;
	max-height: 26px;
}
.governZi{
	font-size: 14px;
	color: #333333;
	margin-left: 8px;
}
.Appfast{
	margin-bottom: 20px;
}
.Appfast img{
	width: 100%;
}
.CustBg{
	width: 100%;
	display: inline-block;
	padding: 12px 30px;
}
.CustLeft{
	float: left;
}
.CustImg{
	float: left;
	width: 144px;
	height: 100px;
}
.CustMain{
	float: left;
	margin-left: 22px;
	display: inline-block;
}
.CustTitle{
	font-size: 16px;
	color: #333333;
	margin-top: 24px;
}
.CustWord{
	font-size: 14px;
	color: #333333;	
	margin-top: 12px;
	line-height: 21px;
}
.CustWord img{
	height: 21px;
	margin-right: 6px;	
}
.CustRight{
	float: right;
	width: 420px;
	margin-top: 36px;
	position: relative;
}
.CustInput{
	width: 100%;
    height: 30px;
    padding: 0 166px 0 6px;
    background-color: #FFFFFF;
    color: #333333;
    box-sizing: border-box;
    border: 1px solid #D7D7D7;
    font-size: 13px;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
}
.CustBtn{
	position: absolute;
    right: 0;
    top: 0;
    width: 160px;
    height: 30px;
    font-size: 13px;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
    background: #1782F1;
    cursor: pointer;
}
/*适配*/
@media only screen and (max-width: 1200px) {
	.govern li{
		width: 200px;
	}
	.CustLeft{
		width: 100%;
	}
	.CustRight{
		float: left;
		margin: 20px 0 8px;
		display: inline-block;
	}
}
@media only screen and (max-width: 768px){
	.CustBg{
		padding: 12px;
	}
	.CustRight{
		width: 100%;
	}
}
@media only screen and (max-width: 420px) {
	.CustMain{
		width: 100%;
		margin-left: 0;
	}
	.CustBtn{
		width: 104px;
	}
	.CustInput{
		padding: 0 110px 0 6px;
	}
}

/*右侧---用户中心*/
.UCTop{
	text-align: center;
	margin-right: 30px;
}
.UCBtn{
	width: 186px;
    height: 35px;
    font-size: 13px;
    margin-bottom: 6px;
}
.AcNumber{
	width: 100%;
	padding: 23px 30px;
}
.AcNumberLeft{
	width: 240px;
	line-height: 40px;
	float: left;
}
.AcNumberImg{
	width: 45px;
	height: 40px;
	margin-right: 20px;
	float: left;
}
.AcNumberImg img{
	max-width: 45px;
	max-height: 40px;
}
.AcNumberRight{
	width: 100%;
	border-left: 1px solid #C2C2C2;
	padding: 6px 0 6px 30px;
	color: #C2C2C2;
}
.AcNumberBtn,.AcNumberBtn:hover{
	min-width: 40px;
	text-align: center;
	font-size: 14px;
	color: #046AD5;
	border: none;
	background: none;
	cursor: pointer;
}
/*适配*/
@media only screen and (max-width: 1023px) {
	.UCTopLeft .moleculeLi span:first-child{
		min-width: 0;
	}
	.AcNumberLeft{
		width: 200px;
	}
}
@media only screen and (max-width: 768px){
	.UCTop{
		margin-right: 0;
		text-align: left;
		margin-bottom: 20px;
	}
	.AcNumber{
		padding: 20px;
	}
	.AcNumberImg{
		margin-right: 10px;
	}
	.AcNumberLeft{
		width: 130px;
	}
	.AcNumberRight {
	    padding: 6px 0 6px 20px;
	}
}
@media only screen and (max-width: 420px) {
	.AcNumber{
		padding: 10px 2px 10px 10px;
	}
	.AcNumberLeft{
		width: 66px;
		text-align: center;
	}
	.AcNumberImg{
		width: 100%;
		margin-right: 0;
	}
	.AcNumberRight {
	    padding: 6px 0 6px 8px;
	}
}
/*右侧---消息中心*/
.AllRead{
	width: 105px;
	height: 35px;
}
.deleteBtn{
	margin-left: 6px;
	width: 105px;
	height: 35px;	
    background: #E95B7D;
    color: #ffffff;
    border: 1px solid #E95B7D;
    cursor: pointer;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
table.MesTable{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 14px;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}
table.MesTable tr th{
	text-align: left;
	padding: 13px;
    background: #F2F2F2;
    word-wrap:break-word;
    border: 1px solid rgba(196,196,196,.35);
}
table.MesTable tr th:first-child{
	width: 60px;
	text-align: center;
}
table.MesTable tr td{
	text-align: left;
	padding: 13px;
    background: #ffffff;
    word-wrap:break-word;
    border: 1px solid rgba(196,196,196,.35);
}
table.MesTable tr td:first-child{
	text-align: center;
}
/*选中*/
.MesSelected {
	float: left;
	position: relative;
	cursor: pointer;
	color: #333333;
	width: 12px;
	height: 12px;
	cursor: pointer;
}
.MesSelected input {
	visibility: hidden;
}
.MesSelected input+label::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	height: 12px;
	border: 1px solid #797979;
}
.MesSelected input:checked+label::after {
	content: '✔';
	position: absolute;
	left: 2px;
	top: -3px;
	color: #797979;
}
/*适配*/
@media only screen and (max-width: 420px) {
	table.MesTable{
		table-layout:auto;
	}
	table.MesTable tr th:first-child{
		width: auto;
	}
}

/*右侧---小程序*/
.AppletBg{
	padding: 12px 30px;
}
.AppletTitle{
	font-size: 16px;
	color: #333333;
}
.AppletBtn{
    width: 160px;
    height: 30px;
    font-size: 13px;
    border: none;
    margin: 12px 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
    background: #1782F1;
    cursor: pointer;
}
.blueBtn{
    color: #1782F1;
    background: #ffffff;
    border: 1px solid #1782F1;
}

/*右侧---实名认证*/
.RealBg{
	border: 1px solid #C2C2C2;
}
.RealTop{
	width: 100%;
	height: 46px;
	line-height: 46px;
	padding: 0 24px;
	font-size: 13px;
	color: #333333;
	display: inline-block;
	background: #F2F2F2;
	border-bottom: 1px solid rgba(196,196,196,.35);
}
.RealTab{
	width: 100%;
	display: inline-block;
}
.RealTabMain{
	width: 100%;
	display: inline-block;
	margin: 20px 0 26px;
}
.RealTab li{
	position: relative;
	padding-left: 20px;
	float: left;
	margin: 30px;
	font-size: 14px;
	color: #333333;
	cursor: pointer;
}
.RealTab li::before{
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #797979;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.RealTab li.active::after{
	content: "";
    position: absolute;
    left: 4px;
    top: 7px;
    width: 6px;
    height: 6px;
    background: #797979;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.RealMainBg{
	padding: 30px;
}
.RealMain{
	width: 100%;
	display: inline-block;
	margin-bottom: 20px;
}
.RealLeft{
	position: relative;
	width: 120px;
	float: left;
	font-size: 14px;
	padding: 5px 0 5px 10px;
	color: #333333;
}
.RealLeft span{
	position: absolute;
	left: 0;
	top: 10px;
	color: #CC0434;
}
.RealRight{
	padding-left: 130px;
}
.RealInput{
	width: 300px;
    max-width: 100%;
    height: 30px;
    padding: 0 6px;
    background-color: #FFFFFF;
    color: #333333;
    box-sizing: border-box;
    border: 1px solid #D7D7D7;
    font-size: 13px;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
}
.RealUpload{
    float: left;
    width: 130px;
    height: 126px;
    border: 1px dashed #C2C2C2;
    background: #ffffff;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.RealJia{
    color: #696969;
    text-align: center;
    font-size: 50px;
    line-height: 126px;
    font-weight: bold;
}
.UploadStyle{
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: medium none;
    position: absolute;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    left: 0px;
    top: 0px;
}
.RealUploadWord{
	padding-left: 150px;
	padding-top: 1px;
}
.RealUploadWord p{
	margin: 8px 0;
}
/*适配*/
@media only screen and (max-width: 768px){
	.RealUploadWord{
		padding-left: 0;
		width: 100%;
		display: inline-block;
	}
}
@media only screen and (max-width: 420px){
	.RealMainBg{
		padding: 14px;
	}
	.RealTab li{
		margin: 30px 20px 30px 30px;
	}
	.RealLeft{
		width: 100%;
		display: inline-block;
	}
	.RealRight{
		padding-left: 0;
		width: 100%;
		display: inline-block;
	}
}

/*右侧---插件管理*/
.PlugInTop{    
	width: 100%;
    display: inline-block;
    position: relative;
}
.PlugInTab{
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #D7D7D7;
}
.PlugInTab li{
	float: left;
	margin: 0 20px;
	padding: 0 30px;
	border-bottom: 2px solid transparent;
	font-size: 14px;
	color: #333333;
	line-height: 40px;
	cursor: pointer;
}
.PlugInTab li.active{
	border-bottom: 2px solid #059FFF;
}
.PlugInMain{}
.PlugInMain li{
	padding: 12px 0 0 0;
}
.PlugInNote{
	position: absolute;
	top: 0;
	right: 0;
    font-size: 13px;
    line-height: 38px;
    color: #797979;
}
/*适配*/
@media only screen and (max-width: 920px){
	.PlugInTab li{
		margin: 0 8px;
		padding: 0 16px;
	}
}
@media only screen and (max-width: 768px){
	.PlugInTop{
		padding-bottom: 50px;
	}
	.PlugInNote{
	    position: absolute;
	    top: 50px;
	    left: 0;
	    line-height: initial;
	}
}
/*右侧---发布插件*/
.PublishBg{
	padding: 30px;
}
.PublishLeft{
	position: relative;
	width: 90px;
	float: left;
	font-size: 14px;
	padding: 8px 0 8px 10px;
	color: #333333;
}
.PublishLeft span{
	position: absolute;
	left: 0;
	top: 13px;
	color: #CC0434;
}
.PublishRight{
	padding-left: 100px;
}
.PublishInput{
    margin-top: 3px;
    width: 200px;
    height: 35px;
    padding: 0 8px;
    border: 1px solid #D9D9D9;
    outline: 0;
}
.RealInput {
    width: 684px;
    max-width: 100%;
    height: 35px;
    padding: 0 6px;
    background-color: #FFFFFF;
    color: #333333;
    box-sizing: border-box;
    border: 1px solid #D7D7D7;
    font-size: 13px;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
}
.PublishTex {
    width: 684px;
    max-width: 100%;
    height: 100px;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #D7D7D7;
    outline: 0;
    text-align: left;
    resize: none;
}
.PublishPrice{
    width: 684px;
    max-width: 100%;
    margin-bottom: 12px;
}
.PBOne{
	width: 180px;
}
.PBTwo{
	width: 98px;
}
.PBThree{
	width: 391px;
}
.PBBtn{
	width: 30px;
	height: 30px;
	border: 1px solid #D9D9D9;
	background: #ffffff;
	font-size: 13px;
	color: #333333;
	outline: none;
}
.PublishBtn {
    width: 140px;
    height: 40px;
    font-size: 14px;
}
/*适配*/
@media only screen and (max-width: 1200px){
	.PublishPrice{
		width: 100%;
	}
	.PBOne{
		width: 30%;
	}
	.PBTwo{
		width: 20%;
	}
	.PBThree{
		width: 46%;
	}
}
@media only screen and (max-width: 576px){
	.PublishBg{
		padding: 10px 0;
	}
	.PublishPrice{
		display: table;
	}
	.PBOne{
		width: 100%;
		margin-bottom: 12px;
	}
	.PBTwo{
		width: 100%;
		margin-bottom: 12px;
	}
	.PBThree{
		width: 100%;
	}
}
@media only screen and (max-width: 420px){
	.PublishLeft{
		width: 100%;
	}
	.PublishRight{
		padding-left: 0;
		width: 100%;
		display: inline-block;
	}
	.PublishInput{
		width: 100%;
	}
}