<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="denglu.html" />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
    <location path="ax">
    </location>
</configuration>
